.main {
  text-align:center;
}

.logo {
  margin: 50px;
  border-radius: 15px;
  opacity: 0.8;
  width: 150px;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  opacity: 0.3;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.username {
  position: absolute;
  top: 10px;
  right: 100px;

  .user_img {
    width: 50px;
    border-radius: 25px;
  }
}